@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-swap: swap;
}

/* MENU: 500
FOOTER 400
CARDS: 400 700 */
:root{

    --primary-color: #8F0101;
    --secondary-color: #B81515;

    --background-primary-color: #FFFFFF;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --text-primary-color: #222222;
    --text-secondary-color: var(--background-primary-color);

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;

}
/* CSS RESET */
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: "Montserrat", sans-serif;
    color: var(--text-primary-color);

}

.section-title h2{
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 0;
    text-align:center
}

.section-title hr{
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px auto 32px;
}

.button{
    width: 280px;
    height: 64px;
    font-size: 20px;
    font-weight: var(--title-weight);
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
    border-radius: 16px;
    display: inline-block;
    text-decoration: none;
    line-height: 64px;
}

@media screen and (min-width: 768px) {
    .section-title h2{
        font-size: 32px;
    }
}


@media screen and (min-width: 1024px) {
    .button:hover{
        background-color: var(--primary-color);
    }
}

@media screen and (min-width: 1920px) {
    
}
/* BACKGROUND
BOTOES
TEXTO */