
header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

.navigation-menu{
    margin-top: 24px;
}
.logo{
    display: inline-block;
    width: 64px;
    height: 64px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
}

nav{
    display: none;
}