
header{
    width: 100%;
    height: 138px;
    background-color: var(--background-tertiary-color);
}

.logo{
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 37px 0 0px 48px;
}